/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Mar 31, 2016, 1:50:41 AM
    Author     : Maz3
*/
body{
    font-family: 'Alegreya Sans', sans-serif;
    font-size: 18px;
    background: url('/YouKnowWho/push/img/faceless.jpg');
    background-repeat: no-repeat;
    background-position: top center;


}

/* dCodes Framework:(c) TemplateAccess */
.dc_clear{clear:both;font-size:0px;line-height:0px;margin:0;padding:0;width:100%}.dc_clean_comment{margin-bottom:16px;width:400px}.dc_clean_comment .avatar_box{float:left;width:80px}.dc_clean_comment .avatar{background:#fff;border:1px solid #d8d8d8;margin-top:10px;padding:4px;position:relative}.dc_clean_comment .username{clear:left;color:#383838;font-weight:bold}

.dc_clean_comment .comment_box {
    background: #fff;
    border: 1px solid #d8d8d8;
    float: right;
    height: auto;
    position: relative;
    width: 318px;
    padding: 7px;
    padding-bottom: 10px;
    margin-top: 9px;
}

.dc_clean_comment .comment_box:before{background:#fff;border-left:1px solid #d8d8d8;border-bottom:1px solid #d8d8d8;content:'';height:13px;width:13px;position:absolute;top:24px;left:-8px;transform:rotate(45deg);-webkit-transform:rotate(45deg);-moz-transform:rotate(45deg);-ms-transform:rotate(45deg);-o-transform:rotate(45deg)}.dc_clean_comment .comment_paragraph{color:#454545;line-height:14px;margin:4px 10px 0 15px}.dc_clean_comment .comment_paragraph:focus{outline:none}.dc_clean_comment .reply{color:#b7b7b7;font-size:0.85em;margin-left:23px;margin-top:8px;padding-bottom:10px;position:relative;text-decoration:none}.dc_clean_comment .reply:before{content:url(../images/bubble.png);height:11px;left:-7px;position:relative;top:2px;width:13px}.dc_clean_comment .date{color:#454545;float:right;font-size:0.85em;margin-right:15px;margin-top:0}

.dc_clean_comment {
    width: 414px;
    margin: 0 auto;
}

.dc_clean_comment .comment_paragraph {

    line-height: 20px;

}

h3 {
    font-family: 'Exo', sans-serif;
    font-size: 20px;
    margin-bottom: 0;
    color:#fff;
}

@media (min-width: 300px) and (max-width: 540px) {
    body{

        padding: 10px;
    }
    
    .dc_clean_comment .comment_box {
    background: #fff;
    border: 1px solid #d8d8d8;
    float: left;
    height: auto;
    position: relative;
    max-width: 265px;
    padding: 7px;
    padding-bottom: 10px;
    margin-top: 9px;
}
}